<section class="mt-4">
    <div class="w-100 overflow-auto position-relative group-view-list">
        <ng-container *ngFor="let group of groupList;let i = index">
            <one-click-task-list-view class="d-flex" [id]="'group_'+i" [group]="group"></one-click-task-list-view>
        </ng-container>

        <div class="position-sticky left-position">
            <div [matMenuTriggerFor]="menu">
                <one-click-button [typeSmall]="true" [icon]="'add'" [buttonText]="'Add a group'"></one-click-button>
            </div>
        </div>
    </div>
</section>


<mat-menu #menu="matMenu" yPosition="below" xPosition="after">
    <div class="label-menu">
        <div class="p-2" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <mat-form-field class="w-100 small-height light-border border-top-0" appearance="fill">
                <input matInput type="text" placeholder="Group Name"
                    [(ngModel)]="groupName"><!-- (input)="filterLabels()" -->
            </mat-form-field>
        </div>
        <button mat-menu-item *ngIf="groupName" (click)="addGroup()">
            <mat-icon class="mr-1">add</mat-icon>
            Add group
        </button>
    </div>
</mat-menu>