.cell-item {
    height: 32px;
    background-color: var(--white);
    border-right: 1px solid var(--light-border);
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;

    input {
    }
}

.cell-section {
    border-bottom: 1px solid var(--light-border);
    padding-left: 0;

    .description {
        cursor: pointer;
    }
}

.inner-cell-absolute {
    padding: 4px 8px;
    left: 0;
    top: 0;
}

.description-item {
    .open-icon-for-task {
        opacity: 0;
    }

    &:hover {
        .open-icon-for-task {
            opacity: 1;
        }
    }
}
