<one-click-common-header></one-click-common-header>
<section class="main-section">
    <div class="post-section d-flex position-relative">
        <div class="left-section col-6 position-relative">
            <div class="title-section">
                <h3>Post Content</h3>
            </div>
            <div class="p-3">
                <ng-container *ngIf="integrationList.length">
                    <one-click-select-account [integrationList]="integrationList"
                        (selectedAccount)="selectedAccount($event)"></one-click-select-account>

                    <div class="mb-3 d-flex justify-content-between">
                        <mat-slide-toggle [(ngModel)]="personalizedEv" color="primary" name="personalized"
                            (change)="putPersonalizedData($event)"><span class="ml-1">Personalized
                                for each social
                                account</span></mat-slide-toggle>

                        <mat-slide-toggle color="primary" [(ngModel)]="reels" name="personalized"><span
                                class="ml-1">Reels</span></mat-slide-toggle>
                    </div>

                    <ng-container *ngIf="!personalized">
                        <one-click-post-data-section [selectedAccountList]="selectedAccountList"
                            [noPersonalizedData]="noPersonalizedData" [reels]="reels"
                            (postFormValues)="postFormValues($event)"></one-click-post-data-section>
                    </ng-container>

                    <ng-container *ngIf="personalized">
                        <div *ngFor="let account of selectedAccountList" class="mb-4">
                            <one-click-post-data-section [singleAccount]="account" [reels]="reels"
                                (postFormValues)="postFormValues($event)"></one-click-post-data-section>
                        </div>
                    </ng-container>

                </ng-container>
                <ng-container *ngIf="!integrationList.length">
                    <div class="d-flex flex-column justify-content-center align-items-center add-channels w-100">
                        <one-click-button (click)="addChannels()" [buttonText]="'Add Channels'"
                            [icon]="'add_circle'"></one-click-button>
                        <!-- <mat-icon class="fz-34">add_circle</mat-icon>
                        <h4>add channels</h4> -->
                    </div>

                </ng-container>
            </div>
        </div>
        <div class="right-section col-6">
            <div class="title-section d-flex align-items-center justify-content-between">
                <h3>Preview Content</h3>
                <div class="social-tab-list">
                    <a class="ml-2" href="javascript:void(0)" (click)="selectedType = 'ALL'"
                        [class.showActive]="selectedType == 'ALL' ">
                        <mat-icon>apps</mat-icon>
                    </a>
                    <ng-container *ngFor="let connection of connectionList">
                        <ng-container *ngIf="connection.connected">
                            <a class="ml-2" href="javascript:void(0)"
                                [class.showActive]="selectedType == connection.id || selectedType == 'ALL' "
                                (click)="filterPreview(connection)"><img src="assets/{{connection.image}}" alt=""
                                    width="22"></a>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="p-3 content-section">
                <p class="text-center">View of a post on the platform may look different</p>
                <ng-container *ngFor="let connection of integrationList">
                    <ng-container
                        *ngIf="connection.is_selected && connection.type == 'FACEBOOK' && (selectedType == 'FACEBOOK' || selectedType == 'ALL') ">
                        <one-click-facebook-post-ui [connection]="connection"></one-click-facebook-post-ui>
                    </ng-container>
                    <ng-container
                        *ngIf="connection.is_selected && connection.type == 'INSTAGRAM' && (selectedType == 'INSTAGRAM' || selectedType == 'ALL')">
                        <one-click-instagram-post-ui [connection]="connection"></one-click-instagram-post-ui>
                    </ng-container>
                    <ng-container
                        *ngIf="connection.is_selected && connection.type == 'TWITTER' && (selectedType == 'TWITTER' || selectedType == 'ALL') ">
                        <one-click-twitter-post-ui [connection]="connection"></one-click-twitter-post-ui>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div class="col-6 footer-post-section p-3 d-flex align-items-center justify-content-between overflow-hidden"
            *ngIf="integrationList.length">
            <div class="position-relative">
                <button [disabled]="isloading" (click)="picker.open()" mat-stroked-button color="primary">
                    <ng-container *ngIf="scheduleDate">
                        {{scheduleDate | date:'MM/dd/y, h:mm a, EEEE'}}
                    </ng-container>
                    <ng-container *ngIf="!scheduleDate">
                        Schedule
                    </ng-container>

                </button>
                <mat-form-field class="position-absolute opacity-0">
                    <input matInput [(ngModel)]="scheduleDate" [ngxMatDatetimePicker]="picker"
                        placeholder="Choose a date" [min]="minDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker [color]="color">
                    </ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center">
                <button [disabled]="isloading" mat-button (click)="savePost('DRAFT')" color="primary">Save
                    Draft</button>
                <button mat-raised-button class="ml-2" (click)="postNow()" color="primary" [disabled]="isloading">
                    <ng-container *ngIf="!isloading">

                        <ng-container *ngIf="!scheduleDate">
                            Post Now
                        </ng-container>

                        <ng-container *ngIf="scheduleDate">
                            Schedule Now
                        </ng-container>
                    </ng-container>


                    <ng-container *ngIf="isloading">
                        <mat-spinner class="color-white button-loading"></mat-spinner>
                    </ng-container>
                </button>
            </div>
        </div>

    </div>
</section>