<div class="d-flex align-items-center flex-column justify-content-center h-100-vh">
    <h1 class="mb-4">One Click Desk</h1>
    <p class="text-center fw-500 mb-3"><strong>Forgot Password</strong></p>

    <form class="d-flex flex-column sign-in">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput [(ngModel)]="email" name="email">
        </mat-form-field>


        <div class="text-center w-100">
            <one-click-button [largeBtn]="true" [isloading]="isloading" [fullWidth]="true" (click)="resetPassword()"
                [buttonText]="'Reset Password'"></one-click-button>
        </div>
    </form>

    <div class="no-member mt-4 text-center">
        <p class="m-0">Already a member ? <a routerLink="/login">Sign In</a></p>
    </div>
</div>
<!-- <one-click-ui-loading *ngIf="isloading"></one-click-ui-loading> -->