<one-click-common-header [menuAttr]="'task'"></one-click-common-header>
<section class="main-section">
    <div class="pl-4 pr-4 pt-2">
        <one-click-home-presentation></one-click-home-presentation>

        <div class="d-flex mt-5">
            <div class="col-6 pr-2">
                <one-click-private-notepad></one-click-private-notepad>
            </div>
            <div class="col-6 pl-2">
                <one-click-dashboard-task></one-click-dashboard-task>
            </div>
        </div>
    </div>
</section>