<div class="p-3 pt-0 pb-0">

    <div class="d-flex team-chat w-100 pt-3">
        <div class="team-list">
            <div class="list">

                <div class="other-features-in-chat mb-3">

                    <p class="d-flex align-items-center p-2 cursor-pointer mb-1">
                        <span class="material-icons-outlined mr-2" style="font-size: 20px;">
                            create
                        </span>
                        New Message
                    </p>

                    <p class="d-flex align-items-center p-2 cursor-pointer mb-0">
                        <span class="material-icons-outlined mr-2">
                            tag
                        </span>
                        Channels
                    </p>

                </div>

                <p class="m-0 mb-2">Messages</p>
                <mat-list role="list">
                    <ng-container *ngFor="let item of chatRoomList">
                        <mat-list-item role="listitem" class="mb-1 p-2 active cursor-pointer">
                            <div class="d-flex align-items-center">
                                <img src="assets/147133.png" alt="">
                                <p class="m-0 pl-2 fz-14">{{item.members[1].user_id}}</p>
                            </div>
                        </mat-list-item>
                    </ng-container>

                    <!-- <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mb-1 p-2 cursor-pointer">
                        <div class="d-flex align-items-center">
                            <img src="assets/147133.png" alt="">
                            <p class="m-0 pl-2 fz-14">Shivang Pokar</p>
                        </div>
                    </mat-list-item> -->

                </mat-list>
            </div>

        </div>
        <div class="chat-section">
            <h5>Chat with Shivang Pokar</h5>
            <div class="border chating-body">
                <div class="chat-body">
                    <div class="chat-date w-100 d-flex align-item-center justify-content-center">
                        <span class="pl-3 pr-3">Friday, September 13</span>
                    </div>

                    <div class="chat-message-section">
                        <div class="chat-message other mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                Shivang Pokar
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message other mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                Shivang Pokar
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message other mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                Shivang Pokar
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message other mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                Shivang Pokar
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-date w-100 d-flex align-item-center justify-content-center">
                            <span class="pl-3 pr-3">Friday, September 14</span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message other mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                Shivang Pokar
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="chat-message self mb-5 position-relative">
                            <p class="m-0">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam eius perferendis ut
                                molestias
                                voluptatem
                                voluptates numquam neque harum. Quasi ea qui nesciunt deserunt corporis, non dignissimos
                                est
                                voluptas
                                sed nulla.
                            </p>
                            <span class="position-absolute">
                                <em>09:00 PM</em>
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="chat-footer">
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="comment" placeholder="Message Shivang Pokar">
                    </mat-form-field>

                    <div class="chat-action-section d-flex align-items-center position-absolute h-100">
                        <span class="material-icons-outlined">
                            attach_file
                        </span>

                        <div class="position-relative d-flex align-items-center ml-2">
                            <span class="material-icons-outlined cursor-pointer" (click)="toggleEmoji = !toggleEmoji">
                                sentiment_satisfied_alt
                            </span>

                            <emoji-mart *ngIf="toggleEmoji" (emojiSelect)="selectemoji($event)" [isNative]="true"
                                class="position-absolute" [showPreview]="false"></emoji-mart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>