.task-list-view {
    padding-left: 50px;
    padding-right: 50px;
}

.group-head-view {
    left: 50px;
    top: 0;
    .icons-arrow {
        border-radius: 2px;
        &:hover {
            background-color: var(--light-border);
        }
        .material-icons-outlined {
            transition: 0.5s ease all;
        }
        &.is_open {
            .material-icons-outlined {
                transform: rotate(90deg);
                transform-origin: center;
            }
        }
    }
    .group-icon {
        color: var(--light-font);
    }
}

.group-head {
    background-color: var(--white);
    top: 0;
    height: 42px;
    z-index: 1;
    left: 100px;
}

.row-head {
    top: 42px;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-border);
    padding-left: 40px;
    z-index: 1;
    color: var(--light-font);

    .row-head-item {
        height: 42px;
        font-size: 14px;
        padding: 5px 8px 5px 10px;
        .material-icons-outlined {
            font-size: 18px;
            transform: translateY(-1px);
        }
        &:hover {
            background: var(--active);
        }
    }
}

.add-item {
    height: 32px;
    color: var(--light-font);
    .add-item-child {
        left: 0;
    }
    .material-icons-outlined {
        font-size: 18px;
        transform: translateY(-1px);
    }
}
