mat-button-toggle-group {
    font-size: 14px;
    ::ng-deep {
        .mat-button-toggle-label-content {
            line-height: 42px;
        }
    }
}

.post-box {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: var(--white);

    p,
    a {
        font-size: 14px;
    }

    .media {
        .image-section {
            width: 55px;
            height: 55px;
            border-radius: 3px;
            overflow: hidden;
            img {
                object-fit: cover;
            }
        }
    }
}

.bottom-section {
    .gap-10 {
        gap: 10px;
    }
}
